.knapp{
    padding: 1.5em;
    background-color: #0b0c10;
    border-style: solid;
    border-width: thin;
    border-color: #66fcf1;
    color: #c5c6c7;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.knapp:hover{
    transition: 0.3s;
    background-color: #1f2833;
}
a{
    text-decoration: none;
}
.mainContainer{
    padding: 10px 15%;
    display: flex;
    justify-content: center;
}
.spillerBlokk{
    margin: 0 2.5%;
    padding: 10%;
    text-align: center;
    background-color: #1f2833;
    color: #66fcf1;
    border-radius: 10px;
    flex-grow: 1;
}
body{
    color: #66fcf1;
    background-color: #0b0c10;
    font-family: "arial";
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.greyText{
    color: #c5c6c7;
}
.blueText{
    color: #66fcf1;
}
select{
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #1f2833;
    color: #66fcf1;
}
.inputText{
    width: 100%;
    border: solid thin #66fcf1;
    border-radius: 4px;
    margin: 20px auto;
    padding: 12px;
    resize: vertical;
    box-sizing : border-box;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #0b0c10;
    border: solid thin #66fcf1;
    color: #c5c6c7;
    padding: 1.5em;
    text-decoration: none;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
}
input[type=button], input[type=submit]:hover, input[type=reset]{
    transition: 0.3s;
    background-color: #1f2833;
    cursor: pointer;
}