.knapp{
    padding: 1.5em;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: 10%;
}
.mainContainer{
    padding: 10px 10%;
    display: flex;
}
.spillerBlokk{
    margin: 0 auto;
    padding: 10%;
    background-color: #ff4e00;
    color: white;
    border-radius: 10px;
}