.knapp{
    padding: 1.5em;
    background-color: #0b0c10;
    border-style: solid;
    border-width: thin;
    border-color: #66fcf1;
    color: #c5c6c7;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.knapp:hover{
    transition: 0.3s;
    background-color: #1f2833;
}
a{
    text-decoration: none;
}
.mainContainer{
    padding: 10px 15%;
    display: flex;
    justify-content: center;
}
.spillerBlokk{
    margin: 0 2.5%;
    padding: 10%;
    text-align: center;
    background-color: #1f2833;
    color: #66fcf1;
    border-radius: 10px;
    flex-grow: 1;
}
body{
    color: #66fcf1;
    background-color: #0b0c10;
    font-family: "arial";
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.greyText{
    color: #c5c6c7;
}
.blueText{
    color: #66fcf1;
}