<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Legg til spillere</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="mainContainer">
    <form method="post" th:action="@{/leggTilSpillere}">
        <th:block th:each="spiller, iStat: ${spillere}">
            <input class="inputText" th:name="name" th:placeholder="Spiller..">
        </th:block>
        <input type="submit" value="Legg til alle spillere" th:name="alleSpillere">
    </form>
</div>
</body>
</html>