<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Spill</title>
</head>
<body>
<div class="mainContainer" th:if="${ferdig and uavgjort == null}">
    <h1 class="greyText">Vinneren er <span class="blueText" th:text="${vinner.navn}"></span></h1>
</div>
<div class="mainContainer" th:if="${ferdig and uavgjort != null}">
    <h1 class="greyText">Det ble uavgjort mellom
        <span th:each="spiller : ${uavgjort}" class="blueText" th:text="${spiller.navn} "></span>
    </h1>
</div>
<div class="mainContainer" th:if="${!ferdig}">
    <h1 class="greyText">Vi spiller <span class="blueText">Terningspillet</span></h1>
</div>
<div class="mainContainer">
        <th:block th:each="spiller: ${spillerListe}">
            <div class="spillerBlokk">
                <h2 th:text="${spiller.navn}"></h2>
                <h3 class="greyText">Poeng:</h3>
                <h2 class="greyText" th:text="${spiller.verdi}"></h2>
            </div>
        </th:block>
</div>
<div class="mainContainer" th:if="${startet and !ferdig}">
    <div class="terninger greyText">
        <th:block th:each="terning : ${terninger}">
            <h1>Terning: <span th:text="${terning.verdi}"></span></h1>
        </th:block>
    </div>
</div>
<div class="mainContainer">
    <div class="knappBox">
        <a th:if="${!startet}" th:href="@{/spill/go}"><div class="knapp">Start spillet</div> </a>
        <a th:if="${startet and !ferdig}" th:href="@{/spill/runde}"><div class="knapp">Trill terninger</div> </a>
        <a th:if="${ferdig}" th:href="@{/spill/reset}"><div class="knapp">Spill på nytt</div> </a>
    </div>
</div>
</body>
</html>